body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    height: 300px;
    width: 300px;
    border-color: black;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image{
    height: 50px;
    width: 50px;
    background-color:#1F6E8C;
    position: relative;
    top:0px;
    left: 0px;
}

.rangebar{
    margin-top: 20px;
    padding: auto;
    display: flex;
    flex-direction: column;
}

.rangebar input{
    cursor: pointer;
}